#max {

	width: 900px;

	height: 700px;

	align-items: center;

	margin: 5% auto;

	margin-top: 0%;

}

.re {

	position: relative;

	height: 600px;

}


.re ul {

	list-style-type: none;

}

.re ul>li {

	width: 600px;

	height: 500px;

	position: absolute;

	transition: 1s;

	opacity: 0;

}


.re ul>li img {

	width: 900px;

	height: 700px;

	border-radius: 10%;

	border: 15px solid #fffbd6;

}

